body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#clock {
    font-size: 18vh;
    margin-top: 20px;
    margin-bottom: 0px;
}

#countdown-message {
    font-size: 14vh;
    display: block; /* Asegura que se muestre en bloque */
    margin-bottom: 5px; /* Añade espacio debajo del mensaje */
}

#countdown-timer {
    font-size: 45vh; /* 45% de la altura de la pantalla */
    line-height: 1; /* Para evitar el espacio extra */
    font-weight: bold;
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Azul */
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
}

#modificadores {
    display: block;
}